{% extends "base.html" %}
{%load static %}
{% comment %} {% block css %}
    <link rel="stylesheet" href="{% static "posts/home.css" %}">
{% endblock css %} {% endcomment %}


{% block body %}
    The Official Blog home page of {{username|capfirst|truncatechars:5}}
    {% if posts %}
        <h1>All posts available</h1>
        {% for post in posts %}
            <a href={% url 'post' post.id %}>
                <h1> {{forloop.counter}} - {{post.title}}</h1>  <!-- forloop.counter returns the iteration number of the for loop, can be used for numbering -->
            </a>
            <p>{{post.content|truncatewords:6}}</p>
        {% endfor %}
    {% else %}
        <h1>No post available!</h1>
    {% endif %}

    <form method="POST" action='counter'>
        {% csrf_token %}
        <textarea name="text" rows="10" cols="50" placeholder="Text counter">  </textarea>
        <input type="submit"/>
    </form>
{% endblock body %}

